body {
    margin: 0%;
    background-color: #212121;
}

.head-main-element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25vh;
    padding: 3vh 0 1vh 0;
    background-color: #212121;
    box-shadow: 0px 4px 10px 0px #00000030;
    border-bottom: 1px solid #000000
}

a {
    text-decoration: none;
}

.logo-messanger-link,
.logo-messanger-link>img {
    height: 50px;
    width: 50px;
}

.logo-lion-img {
    width: 43px;
    height: 54px;
}

.header-worktime-span {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24.8px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: white;
}

.head-main-element>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-worktime {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-text-span {
    display: block;
    font-size: 35px;
    line-height: 35px;
    margin: 1vh 0;
    color: white;
}

.header-a-logo-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-addres>img {
    height: 34px;
    width: 34px;
}

.header-addres>span,
.number-a {

    color: white;
}

.header-addres-span {
    display: block !important;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24.8px;
    letter-spacing: 0%;
    color: white;
}
.header-text-block{
    margin: auto 2vh;
}

.number-a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vh;
    height: auto;
    background-color: #9B6D44;
    border-radius: 27px;
}

.number-a>span {

    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 24.8px;
    letter-spacing: 0%;
    text-align: center;
    text-align: center;
    color: white;
}

.number-a>img {
    height: 15px;
    width: 15px;
}

.header-logo-div {
    gap: 2vh;
}

.nav-ul>li {

    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.8px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
}

.nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vh;
    margin: 0%;
    padding: 1vh 0;
    background-color: #9B6D44;
    list-style: none;
}

.nav-ul>li:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-bottom-arrow {

    margin-left: 1vh;
    margin-top: 0.4vh;
    width: 20px;
    height: 20px;
}

.header-big-img {
    position: relative;
    height: 87vh;
    background: url('../image/header-big-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.img-left-arrow-button {
    position: absolute;
    width: 35px;
    height: 35px;
    background: url('../image/img-left-arrow-button.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    top: 50vh;
    left: 30vh;

}

.img-right-arrow-button {
    position: absolute;
    width: 35px;
    height: 35px;
    background: url('../image/img-left-arrow-button.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    top: 50vh;
    right: 30vh;
    transform: rotate(180deg);
}

.img-bottom-circles {
    position: absolute;
    width: 90px;
    height: 15px;
    background: url('../image/img-bottom-circles.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
    top: 80vh;
    left: 95vh;

}

.grid-container {

    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 8vh;
    margin: 0 auto;
    margin-top: 10vh;
}

.grid-element {
    position: relative;
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #212121;
    color: white;
    position: relative;
}

.child {
    position: absolute;
    top: 8vh;
    left: 14vh;
    width: 92px;
    height: 65px;
    background: url('../image/youtube-icon.png') no-repeat center/cover;
}

.grid-element img {
    border-radius: 24px 24px 0 0;
    width: 100%;
    height: 225px;
    object-fit: cover;
}

.grid-element span {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24.8px;
    color: white;
    text-align: start;
    display: block;
}

.show-more-span {
    display: block;
    width: fit-content;
    color: white;
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.8px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    margin: auto;
    margin-top: 7vh;
    cursor: pointer;
}

h1 {
    font-family: Inter;
    font-weight: 600;
    font-size: 60px;
    line-height: 24.8px;
    letter-spacing: 0%;
    text-align: center;
    color: white;
    margin: 7vh 0;
}
.address-big-text,
.address-descr-text {
    display: block;
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.8px;
    letter-spacing: 0%;
    color: white;
}

.address-big-text {
    font-family: Inter;
    font-weight: 600;
    font-size: 60px;
    line-height: 24.8px;
    letter-spacing: 0%;
    margin-bottom: 5vh;
}

.addres-map>div {
    margin: auto;

    margin-left: 60vh;
    margin-top: 5vh;
    border-radius: 24px;
    padding: 3vh 2vh 7vh 2vh;
    width: fit-content;
    background: #00000099;
}

.addres-map {
    margin-top: 15vh;
    padding-top: 10vh;
    width: 100%;
    height: 60vh;
    background: url('../image/map-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-content-block {
    padding: 5vh 0;
    background-color: #000000;
}

.footer-logo-text-descr {
    display: block;
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.8px;
    letter-spacing: 0%;
    color: white;
}

.footer-rigth-block-phone>span {
    display: block;
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.8px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.footer-content-block,
.footer-rigth-block {
    gap: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-rigth-block{
    gap: 5vh;
}
.footer-ul-mess-link {
    list-style: none;
    color: white;
}

.footer-ul-mess-link>li>a {
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.8px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: white !important;
}

.number-a-f>span {
    color: black;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 24.8px;
    letter-spacing: 0%;
    text-align: center;
}

.number-a-f {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vh;
    height: auto;
    background-color: #9B6D44;
    border-radius: 27px;
    margin-top: 2vh;
    padding: 6px 12px 6px 0px;
    background-color: white;
}
.number-a-f>img {
    margin-top: 0.5vh;
    height: 15px;
    width: 15px;
}
.menu{
    background-color: white;
    position: absolute;
    width: 113px;
    height: fit-content;
    top: 0vh;
    left: 85vh;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 12px 24px;
}
.menu-element{
    display: block;
    font-family: Inter;
font-weight: 500;
font-size: 16px;
line-height: 24.8px;
letter-spacing: 0%;
text-align: center;
color: rgba(33, 33, 33, 1);

}
.header-mobi-div{
    display: none;
}
a,
a:active {
    color: white;
}
.header-addres>span,
.number-a {

    color: white;
}

.header-addres-span {
    display: block !important;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24.8px;
    letter-spacing: 0%;
    color: white;
}

.header-text-block {
    margin: auto 2vh;
}

.header-logo-tel-img {
    width: 15px;
    height: 15px;
}
.number-a>div {
    padding: 12px 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vh;
    height: auto;
    background-color: #9B6D44;
    border-radius: 27px;
}

.number-a>span {

    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 24.8px;
    letter-spacing: 0%;
    text-align: center;
    text-align: center;
    color: white;
}

.number-a>img {
    height: 15px;
    width: 15px;
}
@media (max-width: 768px) {


    .addres-map>div {
        margin: 0;
    }

    .footer-content-block {
        flex-direction: column;
        gap: 5vh;
    }

    .footer-content-block>div {
        width: 90%;
        margin: auto;
    }

    .div-orderly {
        gap: 5vh;
    }

    .form-div {
        width: 80%;
        flex-direction: column;
        margin: 1vh;
    }

    .form-div>div {
        width: 100%;
    }

    main {
        width: 100%;
        margin: auto 0;
    }

    .header-big-img {
        height: 40vh;
    }

    .simple-quote {
        width: 80%;
    }

    .img-bottom-circles {
        top: 35vh;
        left: 20vh;
    }

    .head-main-element,
    .nav-ul {
        display: none;
    }

    .text-div {
        margin: 0 1vh 0 0;
    }

    h1,
    h2 {
        width: fit-content;
        display: inline-flex !important;
        font-size: 26px;
        line-height: 26px;
        padding: 20px;
    }
    
    .main-span,
    .main-ul-nav {
        width: fit-content;
        margin: 2vh;
    }

    .img-left-arrow-button,
    .img-right-arrow-button {
        top: 20vh;
    }

    .img-left-arrow-button {
        left: 10vh;
    }

    .img-right-arrow-button {
        right: 10vh
    }

    .burger-menu {
        width: 30px;
        height: 30px;
        background: url("../image/menu.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: auto;
        margin-top: 1vh;
    }

    .head-main-element {
        display: none;
    }

    .header-mobi-div {
        display: block;
        width: 80%;
        margin: auto;
        padding: 2vh 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu {
        display: none;
    }

    .galery-first-img-block {
        padding: 0%;
    }

    .galery-first-img-block>li,
    .hide-element-from-carusel,
    .rigth-elem {
        display: none;
    }
    .grid-element > img {
        width: 200px;
        height: 200px;
    }
    .grid-container {

        width: 60%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 4vh;
        margin:0.7vh;
        margin-top: 0vh;
    }
    .grid-element{
        width: 180px;
        height: 180px;
    }
    .child{
        
        left: 7vh;
        top: 3vh;
        width: 50px;
        height: 50px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 12px;
    }
    h1{
        text-align: center;
        margin: 0% 11vh !important;
    }
}